*{
    margin: 0;padding: 0;
}
body{position: relative;
    background-image: url(Assets/bg.png);
    background-size: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* filter: brightness(90); */
    /* z-index: -1; */

}
#bg_overlay{
    position: fixed;
    size: 100%;
    background-color: gold;
    mix-blend-mode:screen;
    /* filter: brightness(90); */
    
}
nav{
    width: 100vw;
    display: block;
}
.balance
{
    float: right;
    height: 7ch;
    width: 15ch;
    background-color: forestgreen;
    margin:3vh;
    border-radius: 15%;

}
#shop{
    border-radius: 15%;
    height: 7ch;
    width: 15ch;
    background-color: forestgreen;
    float:right;
    margin:3vh;
}
.spinBox{
    height: 60vh;
    background-color: aqua;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    
}
.spinBorder{
    height: 40vh;
    width: 40vh;
    /* background-color: red; */
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background: conic-gradient(
        red 9deg 27deg,
        yellow 27deg 45deg,
        red 45deg 63deg,
        yellow 63deg 81deg,
        red 81deg 99deg,
        yellow 99deg 117deg,
        red 117deg 135deg,
        yellow 135deg 153deg,
        red 153deg 171deg,
        yellow 171deg 189deg,
        red 189deg 207deg,
        yellow 207deg 225deg,
        red 225deg 243deg,
        yellow 243deg 261deg,
        red 261deg 279deg,
        yellow 279deg 297deg,
        red 297deg 315deg,
        yellow 315deg 333deg,
        red 333deg 351deg,
        yellow 351deg 9deg
      );
      transition: transform 4s ease-out;
      /* rotate: z 90deg; */
}
@keyframes spinAnim {
    0%{
        transform: rotateZ('0deg');
    }
    100%{
        transform: rotateZ('');
    }
}
.spin{
    height: 35vh;
    width: 35vh;
    border: black 2px solid;
    border-radius: 50%;
    background: conic-gradient(
        red 0deg 36deg,
        yellow 36deg 72deg,
        red 72deg 108deg,
        yellow 108deg 144deg,
        red 144deg 180deg,
        yellow 180deg 216deg,
        red 216deg 252deg,
        yellow 252deg 288deg,
        red 288deg 324deg,
        yellow 324deg 360deg
      );
      
    display: flex;
    justify-content: center;
    align-items: center;  
    /* position: relative;*/
} 


#spinBtn{
    position: absolute;
    height: 10vh;
    width: 10vh;
    background: linear-gradient(red  , yellow  );
    border-radius: 50% ;
    border: yellow 3px solid;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-weight: 900;
    color: yellow;
    -webkit-text-stroke: 0.5px black;
    transition: all ease-in 0.1s;
    
}
#spinBtn:hover{
    filter: brightness(80%);
    transform: scale(1.1);
    cursor: pointer;
}


#Point{
    height:15vh;
    width:10vh;
    transform: rotateZ(180deg);
    position: fixed;
     /* left:35%; */
    top:15%; 
}
